<%= nested_form_for @movie, html: { multipart: true } do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, maxlength: 150, size: 15, required: true %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description, rows: 10 %>
  </div>
  <div class="field">
    <%= f.label :trailer %><br>
    <%= f.text_field :trailer %>
  </div>

  <%= f.select :actor_ids, options_for_select(@actors_for_selection), {}, { multiple: true, size: 5 } %>

  <div class="form-actions">
    <%= f.label :images %>
    <%= f.fields_for :images do |image| %>
      <%= image.file_field :image %>
      <%= image.link_to_remove "Remove this image" %>
    <% end %>
  </div>
  <div class="form-actions">
    <%= f.link_to_add "Add new image", :images %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
