<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= title_titleize(@movie.title) %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @movie.description %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre.titleize %>
</p>

<p>
  <strong>Release Date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Cast:</strong>
</p>

<%= render partial: "actors", locals: { movie_actors: @movie.actors } %>

<br/>

<p>
  <strong>Posters:</strong>
</p>

<%= render partial: "posters", locals: { posters: @movie.images } %>

<p>
  <strong>Trailer:</strong>
  <%= raw @movie.trailer %>
</p>

<br/>

<% if user_signed_in? %>
  <div>
    <h1>Add review</h1>
    <%= render partial: 'reviews/form', locals: { remote_form: true }%>
  </div>
<% end %>

<div>
  <h2>Reviews:</h2>
  <div id='reviews-container'>
    <%= render @reviews %>
  </div>
</div>

<br/>

<%= paginate @reviews %>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
